.button {
  font-family: inherit;
  display: inline-block;

  box-sizing: border-box;
  min-width: 155px;
  padding: 10px;

  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  transition: all 0.2s;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

/* remember to define focus styles! */
/* .primary:focus {
  outline: none;
  box-shadow: 0 0 5px 2px var(--primary-shadow);
} */

.ghost {
  color: var(--black);
  background: none;
  border: 1px solid var(--gray-light);
}

.ghost:hover {
  color: var(--white);
  background-color: var(--primary);
}

/* remember to define focus styles! */
/* .ghost:focus {
  outline: none;
  box-shadow: 0 0 5px 2px var(--primary-shadow);
} */

.arrow {
  display: inline-block;

  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2s;
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}
