html,
body {
  margin: 0;
  padding: 0;

  color: var(--text-main);
  background: var(--background);

  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

.visuallyHidden {
  position: absolute;

  overflow: hidden;

  width: 0;
  height: 0;
}

:root {
  --text-main: #3B434E;
  --background: #F8F8F8;
  --gray: #A4A4A4;
  --gray-light: #EBEBEBD7;
  --gray-dark: #6C7077;
  --white: white;
  --primary: #6A4FD2;
  --primary-hover: #513BA8;
  --primary-shadow: #562CB880;
  --red: #FC836D;
  --red-light: #FEA291;
  --green: #007B48;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans KR', sans-serif;
}
