html,
body {
  margin: 0;
  padding: 0;

  color: var(--text-main);
  background: var(--white);

  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --text-main: #3b434e;
  --background: #e5e5e5;
  --gray-light: #ebebebd7;
  --white: white;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}
